* {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
}

/* sidebar classes */

.m-sidebar {
  height: 90vh;
  background-color: black !important;
}

.light-gray-text {
  color: lightgray;
}

.dark-gray-text {
  color: white;
  opacity: 0.5;
}

.mid-gray-text {
  color: white;
  opacity: 0.7;
}

.m-text-smaller {
  font-size: 0.8rem;
}

.text-1-three-rem {
  font-size: 1.3rem;
}

.m-bi-spotify {
  font-size: 2rem;
}

.m-text-small,
.m-bi-house-fill,
.m-bi-search,
.m-bi-search,
.m-bi-plus-square,
.m-bi-people-fill,
.m-bi-arrow-down-circle {
  font-size: 1rem;
}

.m-truncate {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* music player classes */

.m-music-player-section-height {
  height: 10vh;
  background-color: #181818 !important;
  position: fixed; bottom: 0;

}

.m-bi-heart,
.m-bi-tv,
.m-bi-shuffle {
  font-size: 1rem;
}

.m-bi-play-circle-fill {
  font-size: 2rem;
}

.m-music-player1 {
  height: 10px;
  width: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: lightgray;
}

.m-music-player2 {
  height: 10px;
  width: 200px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: grey;
}

.m-music-player3 {
  height: 10px;
  width: 100px;
  border-radius: 50px;
  background-color: lightgray;
}

/* giorgio classes */

body{
    font-family: 'Heebo', sans-serif;
    color: white;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 70%, rgba(28,4,4,1) 84%, rgba(50,3,3,0.9808298319327731) 93%);
    margin: 0;
    padding: 0;
    visibility: 100%;
 }


.navbar{
    padding-left:0;
    margin-right: 15px;

}
#dropdownMenuLink{
    background-color: rgba(0, 0, 0, 0.575);
    max-height: 36px;
    font-size: 12px;
    border-radius: 50px;
    color: white;
}
#profilePic{
    width: 25px;
    height: 25px;
    border-radius:50%;
}
.profile{
    font-size: 13px;
}
 
.chevron{
    width: 32px;
    height: 32px;
    color:#DDD3D2;
    padding: 5px;
    font-size:1rem;
    border-radius: 50%;
    background-color: rgba(48, 45, 45, 0.3);
}

.top-title{
    margin-top: 26px;
    font-weight: 700;
    line-height: 48px;
    font-size: 32px;
    margin-bottom: 26px;
}

.img-top{
    margin-bottom: 12px;
    max-width: 67px;
}

.line-clamp {
display: -webkit-box;   
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis; 
} 
 
.line-clamp2 {
max-width: 180px;
display: -webkit-box;  
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
} 

.card-top{
    background-color: rgba(161, 158, 158, 0.192)
}
.mid-title{

    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    padding-top: 22px;
    text-decoration:none
}


.mid-title:hover{
  text-decoration: underline;
} 
.see-all{
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color:gray;
    padding-top: 18px;
    text-decoration: none;  

}
.see-all:hover{
  text-decoration: underline;

}    

.home-container{
    padding-top: 18px;

}
.card-container{
 width: 10.5rem;
 height: 260px;
 border: 1px solid #2422228e;
 background-color: #2422228e;
 text-decoration: none;
 color: white;
 
 }
.card-container:hover{
    background: rgba(64, 64, 64, 0.61);
    background-color: radial-gradient(circle, rgba(64, 64, 64, 0.568) 1%, rgba(53, 53, 53, 0.486) 49%, rgba(48, 48, 48, 0.507) 94%);
    /* Firefox */
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;


} 
.card-text1{
    width: 125px;
}
.img-card{
    width:100%
  }
  a:link, a:visited, a:active { 
    text-decoration: none;  
   }