body{
    font-family: 'Heebo', sans-serif;
    color: white;
    background-color: #121212;
    margin: 0;
    padding: 0;
 }
.navbar{
    padding-left:0;
    margin-right: 15px;
    
}
#dropdownMenuLink{
    background-color: rgba(0, 0, 0, 0.575);
    max-height: 36px;
    font-size: 12px;
    border-radius: 50px;
    color: white;
}
#profilePic{
    width: 25px;
    height: 25px;
    border-radius:50%;
}
.profile{
    font-size: 13px;
    weight: 400;
 }
.chevron{
    width: 32px;
    height: 32px;
    color:#DDD3D2;
    padding: 5px;
    font-size:1rem;
    border-radius: 50%;
    background-color: rgba(48, 45, 45, 0.3);
}

.top-title{
    margin-top: 26px;
    font-weight: 700;
    line-height: 48px;
    font-size: 32px;
    margin-bottom: 26px;
}
.top-container{
    background: rgb(5,0,0);
    background: linear-gradient(0deg, rgba(5,0,0,1) 0%, rgba(28,4,4,1) 35%, rgba(60,10,10,0.9808298319327731) 90%);
    
}
.img-top{
    margin-bottom: 12px;
    max-width: 67px;
}

.line-clamp {
display: -webkit-box;   
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
 } 
.line-clamp2 {
display: -webkit-box;  
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
} 

.card-top{
    background-color: rgba(161, 158, 158, 0.192)
}
.mid-title{
    background-color: #121212;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    padding-top: 44px;
}
.home-container{
    padding-top: 44px;
    background-color: #121212;
}